
.gameTitle{
    padding: 1rem;
    margin: 0px;
    text-align: center;
}

.gameTitle1{
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    margin: 0px;
    
}

.gameDescription1{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.gameDescription{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.gameScreenshots_Box{
    padding: 1rem;
    display: flex;
    background-color: rgb(53, 53, 53);
}

.gameScreenshots{
    padding: 0.2rem;
    width: 30%;
    flex: auto;

}


.fichaTecnica{
    display: flex;
    
}

.fichaTitle{
    padding: 1rem;
    margin: auto;
    text-align: center;
    color: black;
}

.listaTecnica{
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    align-items: space-around;
    padding: 1rem;
    margin: 0px;
    text-align: center;
}

li{
    padding-bottom: 10px;
}

.space{
    margin-bottom: 20px;
}

.footer{
    background-color: rgb(53, 53, 53);
}

.footerTitle{
    color: #ffffff;
    padding: 2rem;
    text-align: center;
}

.espaco{
    margin-top: 18rem;
}
.quemSomos{
    display: flex;
    justify-content: space-around;
    margin: auto 1rem;
    text-align: center;
    background-color: rgb(46, 46, 46);
    padding: 1rem;
}
.quemSomos2{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    text-align: center;
}
.jao {
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    padding-bottom: 0.25rem;
}

.logoTop2{
    width: 30%;
    height: 30%;
}



@media(min-width: 340px) {
.espaco{
    margin-top: 7rem;
}




}


@media(min-width: 400px) {
    .espaco{
        margin-top: 10rem;
    }

}

@media(min-width: 500px) {
    .espaco{
        margin-top: 12rem;
    }
    
    .listaTecnica{
        text-align: left;
    }
    
    .gameDescription{
        text-align: left;
    }
    
    }


@media(min-width: 700px) {
    .espaco{
        margin-top: 18rem;
    }

}